/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f5f0;
  border-top: 1px solid #dfd7ca;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.nav-tabs {
  margin-bottom: 15px;
}

#navbar-main {
  border-radius: 0px;
}

#container-main {
}

.footer .text-muted {
  margin: 20px 0;
}

.user-nav img {
  margin-right: 5px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: -4px;
  float: left;
}


.table-condensed>tbody>tr>td {
  vertical-align: middle;
}
/*
.table .btn.btn-xs i {
  vertical-align: text-top;
}*/

#container-default .jumbotron i {
  vertical-align: middle;
  margin-right: 14px;
}

.navbar-brand {
  text-shadow: 0 0 1px rgba(30, 118, 0, 1);
  font-size: 28px;
  padding: 18px;
}

.navbar .btn {
  text-shadow: 0 0 1px rgba(30, 118, 0, 1);
}

.navbar-brand i{
  margin-right: 4px;
  vertical-align: middle;
}

.table th {
  font-weight: 500;
}

.form-group-sm label {
  font-weight: 500;
}

.form-horizontal .form-group-sm textarea.form-control {
  padding: 6px 10px;
  height: 70px;
}

.form-horizontal .form-group-sm select.form-control {
  padding: 6px 10px;
  height: 32px;
}

.form-horizontal .form-group-sm select[multiple].form-control {
  padding: 4px;
  height: 70px;
}

.form-horizontal .form-group-sm select.form-control option {
  padding: 2px 8px;
  border-radius: 2px;
}

.form-horizontal .form-group-sm select.form-control option:checked {
  background: linear-gradient(#29abe0, #29abe0);
}


.breadcrumb>.active {
  color: #7E7D70;
}

.modal-dialog {
  z-index: 1050;
}

.input-group-addon {
  background-color: transparent;
}

.date .input-group-addon {
  cursor: pointer;
}


#button-switch-layout {
  position: relative;
  padding-left: 60px;
}

#button-switch-layout .spinner {
  margin-left: -24px;
}


.form-horizontal .form-group-sm .form-control.selectize-control {
  padding: 0;
}

.selectize-input {
  border: 1px solid #dfd7ca;
}

.form-horizontal .form-group-sm .form-control.selectize-dropdown {
  height: auto;
  padding: 0;
}

.selectize-dropdown, .selectize-dropdown.form-control {
  z-index: 3000;
  height: auto;
}